### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [1]:
num1 = int(input("Enter Number 1 : "))
num2 = int(input("Enter Number 2 : "))
add = num1 + num2
print(add)

Enter Number 1 : 5
Enter Number 2 : 7
12

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [2]:
num = int(input("Enter Number : "))
if num % 2 == 0 :
  print("Even")
else :
  print("Odd")

Enter Number : 6
Even

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [3]:
for i in range(20) :
  if i % 2 == 0 :
    print(i)

0
2
4
6
8
10
12
14
16
18

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [4]:
def vowel(s) :
  c = 0
  for i in s :
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" :
      c += 1
  return c
n = vowel("mostafa")
print(n)

3

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [5]:
l = [2, 3, 5, 1, 8, 7, 9, 4, 10]
n = []
for i in l :
  n.append(i * i)
print(n)

[4, 9, 25, 1, 64, 49, 81, 16, 100]

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [6]:
name = ""
sub = []
score = []
avg = 0
name = input("Enter the student name ")
f = "y"
while f == "y" :
  f = input("Is there another subject y or n ")
  if f == "n" :
    break
  else :
    s = input("Enter the subject name ")
    sub.append(s)
    c = int(input("Enter the subject score "))
    score.append(c)
avg = sum(score) / len(score)
if avg > 70 :
  print("congratulation ^_^ your score is higher than 70")
else :
  print("Sorry ! your score is less than 70")

Enter the student name mostafa
Is there another subject y or n y
Enter the subject name math
Enter the subject score 85
Is there another subject y or n y
Enter the subject name arabic
Enter the subject score 75
Is there another subject y or n n
congratulation ^_^ your score is higher than 70

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [7]:
def common(l1, l2) :
  i = 0
  j = 0
  l3 = []
  while i < len(l1) :
    while j < len(l2) :
      if l1[i] == l2[j] :
        l3.append(l1[i])
      j += 1
    i += 1
  return l3
l = [10, 15, 3]
n = [2, 5, 10, 6]
c = []
c = common(l, n)
print(c)

[10]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [8]:
def rem(l, n) :
  l.remove(n)
ll = [10, 5, 6, 7]
rem(ll, 6)
print(ll)

[10, 5, 7]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [9]:
n1 = int(input("Enter number 1 : "))
n2 = int(input("Enter number 2 : "))
n3 = int(input("Enter number 3 : "))
n4 = int(input("Enter number 4 : "))

mul = str(n1 * n2 * n3 * n4) # 5*8*9*4 = 1440
print(mul[-2] + mul[-1])

Enter number 1 : 5
Enter number 2 : 8
Enter number 3 : 9
Enter number 4 : 4
40

### 10- Given a number X. Determine if the number is prime or not

In [10]:
num = int(input("Enter a number : "))
flag = False
if num == 1:
    print("is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print("is not a prime number")
    else:
        print("is a prime number")

Enter a number : 7
is a prime number

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [13]:
num = int(input("Enter a number : "))
l = [1, 5, 6, 15]
d = 0
flag = False
for i in l :
  if num == i :
    print("The index of", num, "is", d)
    flag = True
    break
  d += 1
if flag == False :
    print("Not found")

Enter a number : 10
Not found

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [14]:
l = [12, 5, 6, 7, 5, 5]
j = 0
for i in l :
  if i == min(l) :
    j += 1
if j % 2 == 0 :
  print("The list isn't lucky")
else :
  print("The list is lucky")

The list is lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [15]:
l = [10, 11, 4, 6, 5]
n = min(l)
x = max(l)
print("the minimum is", n)
print("the maximum is", x)
n, x = x, n
print("After Swapping ")
print("the minimum is", n)

the minimum is 4
the maximum is 11
After Swapping
the minimum is 11

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [16]:
l = [5, 6, 8, 1, 6, 1]
min = min(l)
i = l.index(min)
print("The lowest value is", min,"and it's index is", i)

The lowest value is 1 and it's index is 3

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [17]:
l = [5, 1, 4, 9]
l.sort()
print(l)

[1, 4, 5, 9]

### 16- Write a Python program to remove spaces from a given string

In [18]:
s = "This is a test"
l = s.split()
print("".join(l))

Thisisatest

### 17-write a Python program to swap first and last element of any list.

In [19]:
l = [5, 7, 8, 10]
print(l)
l[0], l[-1] = l[-1], l[0]
print(l)

[5, 7, 8, 10]
[10, 7, 8, 5]

### 18- Write a Python program to add member(s) to a set.

In [20]:
s = {"a", "b", "c"}
print(s)
s.add("d")
s.add("e")
print(s)

{'a', 'b', 'c'}
{'d', 'a', 'e', 'c', 'b'}

### 19-Write a Python program to remove an item from a set if it is present in the set

In [21]:
s = {"first", "srcond", "third", "fourth"}
print(s)
s.remove("third")
print(s)

{'third', 'first', 'srcond', 'fourth'}
{'first', 'srcond', 'fourth'}

### 20-Write a Python program to get the maximum and minimum values of a dictionary values

In [1]:
r = {"first" : 5, "second" : 7, "third" : 3, "fourth" : 10}
l = list(r.values())
print("The minimum value is", min(l))
print("The maximum value is", max(l))

The minimum value is 3
The maximum value is 10

### 21-Write a Python program to drop empty items from a given dictionary.Original Dictionary:{'c1': 'Red', 'c2': 'Green', 'c3': None}New Dictionary after dropping empty items:{'c1': 'Red', 'c2': 'Green'}

In [2]:
r = {'c1': 'Red', 'c2': 'Green', 'c3': None}
l = list(r.values())
n = l.index(None)
l = list(r.items())
del l[n]
r = dict(l)
print(r)

{'c1': 'Red', 'c2': 'Green'}