# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [1]:
street = input("Enter the street ")
city = input("Enter the city ")
country = input("Enter the country ")

address1 = street + city + country
address2 = f"{street} {city} {country}"

print(street+"\n"+city+"\n"+country)

Enter the street general street
Enter the city teta
Enter the country Egypt
general street
teta
Egypt

In [2]:
s = "Earth revolves around the sun"
print(s[6 : 15])
print(s[-3 : ])

revolves
sun

In [3]:
x = 10
y = 6
print(f"I eat {x} veggies and {y} fruits daily")

I eat 10 veggies and 6 fruits daily

In [4]:
s = 'maine 200 banana khaye'
s = 'maine '+'10'+' samosa'+' khaye'
print(s)

maine 10 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [5]:
l = ["January", 2200, "February", 2350, "March", 2600, "April", 2130, "May", 2190]
#1
print("how many dollars you spent extra compare to January?", l[3] - l[1])
#2
print("total expense in first quarter of the year", l[1] + l[3] + l[5])
#3
print(2000 in l)
print("i did not spend exactly 2000 dollars in any month")
#4
l.extend(["june", 10])
print(l)
#5
l[7] -= 200
print(l)

how many dollars you spent extra compare to January? 150
total expense in first quarter of the year 7150
False
i did not spend exactly 2000 dollars in any month
['January', 2200, 'February', 2350, 'March', 2600, 'April', 2130, 'May', 2190, 'june', 10]
['January', 2200, 'February', 2350, 'March', 2600, 'April', 1930, 'May', 2190, 'june', 10]

In [6]:
l = ['spider man','thor','hulk','iron man','captain america']
#1
print("It is length is", len(l))
#2
l.append('black panther')
print(l)
#3
l.remove('black panther')
l.insert(3, 'black panther')
print(l)
#4
l[1], l[2]= "doctor strange", "doctor strange"
print(l)
#5
l.sort()
print(l)

It is length is 5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'doctor strange', 'iron man', 'spider man']

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [7]:
i = 0
j = 4
while i < 10 :
  i += 1
  if i % 2 == 0 :
    continue
  else :
    print(" " * j, "*" * i)
    j -= 1

i = 8
j = 1
while i > 1 :
  i -= 1
  if i % 2 == 0 :
    continue
  else :
    print(" " * j, "*" * i)
    j += 1

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *