**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s = "Hello"
s += "#"
i = 0
while s[i] != "#" :
  i += 1
print("The length is", i)

The length is 5

In [ ]:
s = "Hello"
n = 0
l = list(s)
for i in l :
  n += 1
print("The length is", n)

The length is 5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
s = input("Enter string")
if len(s) < 2 :
    print("Embty string")
else :
    print(s[:2] + s[-2:])

w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s = input("Enter string")
if len(s) > 3 :
    if s[-3:] == "ing" :
        s += "ly"
    else :
        s += "ing"
print(s)

helloing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def long(l) :
  i = 0
  s = "s"
  while i < len(l) :
    if len(l[i]) > len(s) :
      s = l[i]
    i += 1
  print("The longest string is", s, "and it's length is", len(s))
n = ["hello", "ok", "welcome", "well"]
long(n)

The longest string is welcome and it's length is 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s = "abca"
s = "e" + s[1:-1] + "e"
print(s)

ebce

In [ ]:
s = "abca"
i = 0
l = list(s)
l[0], l[-1] = "e", "e"
while i < len(l) :
  print(l[i], end="")
  i += 1

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s = "abca"
j = 0
for i in s :
  if j % 2 == 0 :
    print(s[j], end="")
  j += 1

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
s = "amr and ahmed are frindes but amr is the tallest"
print(s)
w = input("which word you want to count ? ")
l = list(s.split())
n = l.count(w)
print("it repeated", n, "times")

amr and ahmed are frindes but amr is the tallest
which word you want to count ? amr
it repeated 2 times

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s = input("Enter the sentence ")
l = list(s.split(" "))
s = " ".join(l[::-1])
print(s.upper())
print(s.lower())

Enter the sentence mostafa osama ewada
EWADA OSAMA MOSTAFA
ewada osama mostafa

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def rev(s) :
  if len(s) % 4 == 0 :
    print(s[::-1])
  else :
    print(s)
m = input("Enter string ")
rev(m)

Enter string most
tsom

**10- Write a Python program to remove a newline in Python

In [ ]:
s = """hello
world
how
are
you"""
print(s)
l = list(s.split("\n"))
s = " ".join(l)
print(s)

hello
world
how
are
you
hello world how are you

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
s = input("Enter a string ")
p = input("Enter specified character ")
if s[0] == p[0] :
  print("The string starts with", p[0])
else :
  print("The string doesn't start with", p[0])

Enter a string mostafa
Enter specified character m
The string starts with m

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
s = """hello
how are you?
that is a test"""
l = list(s.split("\n"))
s = "\n@".join(l)
s = "@" + s[0:]
print(s)

@hello
@how are you?
@that is a test

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
l = [2, 4.6, 8]
for i in range(0, len(l)) :
  print(f'{l[i]:.2f}')

2.00
4.60
8.00

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
l = [2, 4.6, -8]
for i in range(0, len(l)) :
  if l[i] > 0 :
    print(f'+{l[i]:.2f}')
  else :
    print(f'{l[i]:.2f}')

+2.00
+4.60
-8.00

**15-Write a Python program to display a number with a comma separator

In [ ]:
l = [20000000, 4.600000, 800]
for i in range(0, len(l)) :
  print(f'{l[i]:,.2f}')

20,000,000.00
4.60
800.00

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s = "mostafa"
print(s)
print(s[::-1])

mostafa
afatsom

In [ ]:
s = "mostafa"
print(s)
l = list(s)
l.reverse()
print("".join(l))

mostafa
afatsom

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
s = input("Enter a string ")
r = input("Enter character to count ")
l = list(s)
n = l.count(r)
print(r, "is repeated", n, "times")

Enter a string order
Enter character to count r
r is repeated 2 times

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
s = input("Enter a string ")
for i in s :
  if s.count(i) == 1 :
    print(i)
    break
else :
  print("There is not non-repeating character")

Enter a string oro
r

**19-Write a Python program to remove spaces from a given string

In [ ]:
s = 'That is a test'
print(s)
l = list(s.split(" "))
print("".join(l))

That is a test
Thatisatest

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
s = input("Enter a string ")
n = 0
for i in s :
  if i != " " :
    n += 1
print(n)

Enter a string k    k   p   p
4

**21-write a Python program to swap first and last element of any list.

In [ ]:
l = [1, 'mostafa', 'osama']
print(l)
l[0], l[-1] = l[-1], l[0]
print(l)

[1, 'mostafa', 'osama']
['osama', 'mostafa', 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
l =  [23, 65, 19, 90]
print(l)
n1 = int(input("Enter first element to swap "))
n2 = int(input("Enter second element to swap "))
l[n1 - 1], l[n2 - 1] = l[n2 - 1], l[n1 - 1]
print(l)

[23, 65, 19, 90]
Enter first element to swap 1
Enter second element to swap 3
[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l = [5, 7, 1, 8]
n = max(l)
print("The maximum number is", n)

The maximum number is 8

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l = [5, 7, 1, 8]
n = min(l)
print("The manimum number is", n)

The manimum number is 1

**26-search for if an elem is existing in list

In [ ]:
l = [5, 8, 15, 7, 33]
print(l)
n = int(input("Enter an element to search "))
if n in l :
  print(n, "is in the list")
else :
  print(n, "isn't in the list")

[5, 8, 15, 7, 33]
Enter an element to search 7
7 is in the list

**27- clear python list using different ways

In [ ]:
l = [2, 5, 9, 7]
print(l)
l.clear()
print(l)

[2, 5, 9, 7]
[]

In [ ]:
l = [2, 5, 9, 7]
print(l)
i = 0
while i < len(l) :
  l.remove(l[i])
print(l)

[2, 5, 9, 7]
[]

In [ ]:
l = [2, 5, 9, 7]
print(l)
i = 0
while i < len(l) :
  l.pop()
print(l)

[2, 5, 9, 7]
[]

**28-remove duplicated elements from a list

In [ ]:
l = [33, 5, 8, 15, 7, 33, 5, 5]
print(l)
s = set(l)
l = list(s)
print(l)

[33, 5, 8, 15, 7, 33, 5, 5]
[33, 5, 7, 8, 15]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list = ['Gfg', 3, 'is', 8]
key_list = ['name', 'id']
l = []
dic = dict({})
i = 0
j = 0
while i < len(key_list) :
  dic[key_list[i]] = test_list[j]
  i += 1
  j += 1
l.append(dic)
i = 0
j = -2
dic = dict({})
while i < len(key_list) :
  dic[key_list[i]] = test_list[j]
  i += 1
  j += 1
l.append(dic)
print(l)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
l = [5, 8, 7, 5, 8]
i = 0
u = 0
while i < len(l) :
  x = l.count(l[i])
  if x == 1 :
    u += 1
  i += 1
print(f'You have {u} unique values')

You have 1 unique values

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
l = []
s = set({})
for i in range(0, len(test_list)) :
  if test_list.count(test_list[i]) > k :
    l.append(test_list[i])

print(list(set(l)))

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
l = [1, 2, 2, 3, 4, 5]
n = []
for i in range(1, len(l)) :
  r = max(l[i], l[i-1])
  n.append(r)
for j in range(0, len(n)) :
  print(n[j], end=' ')

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
l = [1, 2, 3]
for i in l :
  for j in l :
    for k in l :
      print(str(i)+str(j)+str(k))

111
112
113
121
122
123
131
132
133
211
212
213
221
222
223
231
232
233
311
312
313
321
322
323
331
332
333

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
l = [1, 2, 3]
n = []

for i in l :
  n.append(i)
  print(n)
n = []
for j in [2, 1, 3] :
  n.append(j)
  print(n)
n = []
for k in [3, 2, 1] :
  n.append(k)
  print(n)

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 1]
[2, 1, 3]
[3]
[3, 2]
[3, 2, 1]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
l1 = ['a', 'b']
l2 = [1, 2]
n = []
l3 = []
for i in l1 :
  for j in l2 :
    n.append(i)
    n.append(j)
    l3.append(tuple(n))
    n.clear()
print(l3)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
l = [1,1,2,3,4,5,1,2,1]
n = []
for i in l :
  if l.count(i) > 1 :
    n.append(i)
n = set(n)
l = set(l)
l = l - n
print(list(l))

[3, 4, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
l1 = ['Gfg', 'is', 'best']
l2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
j = 0
i = 0
while j < len(l2) :
  while i < len(l1) :
    l2[j] = l1[l2[j]]
    if i == len(l1) -1 :
      i += 1
    else :
      i += 1
      j += 1
  i = 0
  j += 1
print(l2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
l = [(4, 5, 5, 4), (5, 4, 3)]
k = 5
n = 2
for i in range(0, len(l)) :
  t = l[i]
  if t.count(k) == n :
    print(t)

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
l = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
l[2].sort(reverse=True)
lambda x : l[]

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(d)
for i in range(0, len(d)) :
  l = list(d.keys())
  n = list(d.values())
  l.sort()
  d[l[i]] = n[i]
print('sorted dictionary is :')
print(d)

{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted dictionary is :
{'ravi': 10, 'rajnish': 10, 'sanjeev': 15, 'yash': 2, 'suraj': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
d = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k = 7
key = list(d.keys())
l = list(d.values())
for i in l :
  if type(i) is type(1) :
    if i >= k :
      v = l.index(i)
      del d[key[v]]
print(d)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1:10, 2:20}; dic2 = {3:30, 4:40}; dic3 = {5:50,6:60}
n = {}
l1 = list(dic1)
l2 = list(dic2)
l3 = list(dic3)
v1 = list(dic1.values())
v2 = list(dic2.values())
v3 = list(dic3.values())
v4 = v1 + v2 + v3
l4 = l1 + l2 + l3
j = 0
for i in l4 :
  n[i] = v4[j]
  j += 1
print(n)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {1 : 'num1', 2 : 'num2', 3 : 'num3'}
for i in d.keys() :
  print(d[i])

num1
num2
num3

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {1 : 'num1', 2 : 'num2', 3 : 'num3'}
d2 = {4 : 'num4', 5 : 'num5', 6 : 'num6'}
d = d1.copy()
d = d.update(d2)
print(d)

{1: 'num1', 2: 'num2', 3: 'num3', 4: 'num4', 5: 'num5', 6: 'num6'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
d = {'num1' : 1, 'num2' : 6, 'num3' : 8, 'num4' : 7}
print(d)
l = list(d.values())
m = max(l)
n = min(l)
print(f'the maximum value is {m} and minimum is {n}')

{'num1': 1, 'num2': 6, 'num3': 8, 'num4': 7}
the maximum value is 8 and minimum is 1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
d = {'c1': 'Red', 'c2': 'Green', 'c3': None}
v = list(d.values())
l = list(d.keys())
for i in range(0, v.count(None)) :
  x = v.index(None)
  v.remove(None)
  l.remove(l[x])
  print(x)
d.clear()
k = 0
while k < len(l) :
  d[l[k]] = v[k]
  k += 1
print(d)

2
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
t = ()
l = list(t)
for i in range(0, 10) :
  l.append(i)
t = tuple(l)
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
t = (5, 6, 9)
a, b, c = t
print(a)
print(b)
print(c)

5
6
9

**49-Write a Python program to add an item to a tuple

In [ ]:
t = (5, 6, 9)
print(t)
i = int(input('Enter an element '))
l = list(t)
l.append(i)
t = tuple(l)
print(t)

(5, 6, 9)
Enter an element 4
(5, 6, 9, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:
t = ('m', 'o', 's', 't', 'a', 'f', 'a')
print(t)
l = list(t)
s = ''.join(l)
print(s)

('m', 'o', 's', 't', 'a', 'f', 'a')
mostafa

**51-Write a Python program to convert a list to a tuple

In [ ]:
l = [5, 7, 'm', 9]
t = tuple(l)
print(t)

(5, 7, 'm', 9)

**52-Write a Python program to reverse a tuple

In [ ]:
t = ('m', 'o', 's', 't', 'a', 'f', 'a')
print(t)
l = list(t)
l.reverse()
t = tuple(l)
print(t)

('m', 'o', 's', 't', 'a', 'f', 'a')
('a', 'f', 'a', 't', 's', 'o', 'm')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print(l)
n = []
v = 100
j = len(l[i]) - 1
for i in range(0, len(l)) :
  n.append(list(l[i]))
  n[i][j] = v
  n[i] = tuple(n[i])
l = n
print(l)

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
s = 'python3.0'
t = tuple(s)
t

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
t = ((2, 5, 9), (5, 1), (8, 7))
l = list(t)
s = 0
n = 0
for i in range(0, len(l)) :
  s += sum(l[i])
  n += len(l[i])
avg = s / n
print(f'The average is{avg : .2f}')

The average is 5.29

**56-Write a Python program to add member(s) to a set.

In [ ]:
s = {5, 6, 8}
print(s)
s.add(1)
print(s)

{8, 5, 6}
{8, 1, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s = {5, 6, 8}
print(s)
n = 6
if n in s :
  s.remove(n)
print(s)

{8, 5, 6}
{8, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
a = {1, 2, 3, 4}
b = {4, 5, 6, 7}
print(f'a union b = {a | b}')
print(f'a intersection b = {a - b}')
print(f'b intersection a = {b - a}')
print(f'a symmetric difference b = {a ^ b}')

a union b = {1, 2, 3, 4, 5, 6, 7}
a intersection b = {1, 2, 3}
b intersection a = {5, 6, 7}
a symmetric difference b = {1, 2, 3, 5, 6, 7}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
s = {5, 6, 8, 11}
m = max(s)
n = min(s)
print(f'the maximum value is {m} and minimum is {n}')

the maximum value is 11 and minimum is 5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
l = [1, 7, 9, 5, 3]
v =  10
k = 0
for i in l :
  for j in range(k, len(l)) :
    if i + l[j] == v :
      print(f'The values is {i} and {l[j]} to get {v}')
      continue
    k += 1

The values is 1 and 9 to get 10
The values is 7 and 3 to get 10